*{
    margin: 0px;
    padding: 0px;
}
.backWrap{
    background: url(/image/village\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 850px;
}
.runRoad{
    background: url(/image/road.jpg);
    
}
#VehiImg{
    width: 225px;
}
.runBtn button{
    padding: 6px 30px 6px 30px;    
    font-size: 20px;    
    border-radius: 4px;        
    border-color: 2px sloid black;       
    background:linear-gradient(to bottom right,rgb(17, 96, 244),rgb(14, 178, 14));       
    margin-top: 350px;
    color: #fff;
    margin-left: 10px;
}
.runBtn{
    display: flex;
    justify-content: center;
    text-align: center;
}